
<div class="button-container">
    <h2>Add Item to the list </h2>
    <!-- <div mat-fab color="accent" aria-label="icon button with a item icon"> -->
            <button class="button add" mat-button (click)="openDialog()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    <!-- </div> -->
</div>

<div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="item_name">
            <th mat-header-cell *matHeaderCellDef> Item Name </th>
            <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
        </ng-container>
              
                <!-- Weight Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link"> 
                  <a (click)="editDialog('Update',element)">Edit</a>
                </td>
              </ng-container>
            
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

